@keyframes rotation {
  from {
    transform: translateX(0);
  }

  from {
    transform: translateX(-50%);
  }
}

.globe {
  border: 2px solid #228B22;
  border-radius: 50%;
  height: 140px;
  left: 20%;
  overflow: hidden;
  position: relative;
  top: 0%;
  transform: translate(-50%, -50%);
  width: 140px;
  margin-top: 0px;
  margin-bottom: -80px;
}

.anim {
  animation: rotation 5s linear 0s infinite;
}
